<div class="animal-container">
  <!-- Afficher un message si aucun animal n'est trouvé -->
  <div *ngIf="animals.length === 0" class="no-animals">
    <p>No animals found.</p>
  </div>

  <!-- Afficher les animaux si disponibles -->
  <div
    *ngFor="let a of animals; let i = index"
    class="animal-card"
    [style.borderColor]="a.gender === 'Male' ? '#3498DB' : '#E74C3C'"
  >
    <img
      [src]="'assets/images/' + (a.image && a.image !== '' ? a.image : 'default-pet.png')"
      (error)="setDefaultImage($event)"
      alt="{{ a.name }}"
      class="animal-image"
    />
    <div class="card-content">
      <h2 class="animal-name">{{ a.name }}</h2>
      <p class="animal-info"><strong>Age:</strong> {{ a.age }} years</p>
      <p class="animal-info"><strong>Race:</strong> {{ a.race }}</p>
      <p class="animal-info"><strong>Gender:</strong> {{ a.gender }}</p>
      <p class="animal-info"><strong>Weight:</strong> {{ a.weight }} kg</p>
      <p class="animal-info"><strong>Owner:</strong> {{ a.owner }}</p>
      
      <!-- Boutons d'action -->
      <button class="details-button" (click)="onDetailsClick(a)">View Details</button>
      <button class="delete-button" (click)="onDeleteClick(a)">Delete</button>  <!-- Ajouter un bouton de suppression -->
    </div>
  </div>
</div>
