<div class="login-container">
  <div class="login-card">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>  <!-- Changed from 'Email' to 'Username' -->
        <input matInput type="text" formControlName="username" placeholder="Enter your username">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter your password">
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" [disabled]="loginForm.invalid">Login</button>
    </form>

    <p class="register-link">Don't have an account? <a routerLink="/register">Sign up</a></p>
  </div>
</div>