<div class="table-container">
    
    <button mat-raised-button color="primary" (click)="createUser()">
        <mat-icon>add</mat-icon> Create User
      </button>
      
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef class="header">
          <mat-icon class="header-icon">person</mat-icon> Username
        </th>
        <td mat-cell *matCellDef="let user">
          <mat-icon class="user-icon">person</mat-icon>
          {{ user.username }}
        </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="header">
          <mat-icon class="header-icon">mail</mat-icon> Email
        </th>
        <td mat-cell *matCellDef="let user">
          <mat-icon class="user-icon">mail</mat-icon>
          {{ user.email }}
        </td>
      </ng-container>
  
      <!-- Password Column -->
      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef class="header">
          <mat-icon class="header-icon">lock</mat-icon> Password
        </th>
        <td mat-cell *matCellDef="let user">
          <mat-icon class="user-icon">lock</mat-icon>
          {{ user.password }}
        </td>
      </ng-container>
  
      <!-- Roles Column -->
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef class="header">
          <mat-icon class="header-icon">group</mat-icon> Roles
        </th>
        <td mat-cell *matCellDef="let user">
          <span class="role-chip" *ngFor="let role of user.roles">{{ role }}</span>
        </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="header">
          <mat-icon class="header-icon">settings</mat-icon> Actions
        </th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="primary" (click)="editUser(user)" aria-label="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUser(user)" aria-label="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <!-- Header and Footer -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
    </mat-table>
  </div>