<h2 mat-dialog-title>Create User</h2>
<mat-dialog-content>
  <form [formGroup]="userForm">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Roles</mat-label>
      <input matInput formControlName="role" readonly> 
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="save()">Create</button>
</mat-dialog-actions>
