<h2 mat-dialog-title>Create User</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="user.username" name="username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="user.email" name="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="user.password" name="password" type="password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Roles</mat-label>
      <input matInput [(ngModel)]="user.roles" name="roles" readonly> 
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="save()">Create</button>
</mat-dialog-actions>
