<div class="container mt-4">
  <h2 class="text-center">Liste des Rapports Médicaux</h2>
  <table mat-table [dataSource]="dataSource" class="table table-striped">
    
    <!-- Définition des colonnes -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let report">{{ report.id }}</td>
    </ng-container>

    <ng-container matColumnDef="observation">
      <th mat-header-cell *matHeaderCellDef> Observation </th>
      <td mat-cell *matCellDef="let report">{{ report.observation }}</td>
    </ng-container>

    <ng-container matColumnDef="medicalHistory">
      <th mat-header-cell *matHeaderCellDef> Historique Médical </th>
      <td mat-cell *matCellDef="let report">{{ report.medicalHistory }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let report">
        <!-- Bouton pour supprimer le rapport -->
        <button mat-button color="accent" (click)="deleteReport(report.id!)">
          Supprimer
        </button>
        <!-- Bouton pour éditer le rapport -->
        <button mat-button color="primary" (click)="navigateToEditReport(report.id!)">
          Éditer
        </button>
      </td>
    </ng-container>

    <!-- Ligne d'en-tête -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Ligne du corps -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Bouton pour naviguer vers la page d'ajout de rapport -->
  <button mat-raised-button color="primary" (click)="navigateToAddReport()">Ajouter un Rapport</button>
</div>
