<div class="container">
  <div class="header">
    <h2>Liste des Rapports Médicaux</h2>
    <button mat-raised-button color="primary" (click)="navigateToAddReport()">
      <mat-icon>add</mat-icon>
      Ajouter un Rapport
    </button>
  </div>
  
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let report">{{ report.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="observation">
      <mat-header-cell *matHeaderCellDef> Observation </mat-header-cell>
      <mat-cell *matCellDef="let report">{{ report.observation }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="medicalHistory">
      <mat-header-cell *matHeaderCellDef> Historique Médical </mat-header-cell>
      <mat-cell *matCellDef="let report">{{ report.medicalHistory }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let report">
        <button mat-icon-button color="accent" (click)="deleteReport(report.id!)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="navigateToEditReport(report.id!)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
