<div class="container mt-4">
  <h2 class="text-center">Ajouter un Rapport Médical</h2>
  
  <form [formGroup]="reportForm" (ngSubmit)="submitForm()">
    <div class="mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Observation</mat-label>
        <input matInput formControlName="observation" required />
        <mat-error *ngIf="reportForm.get('observation')?.hasError('required')">
          L'observation est obligatoire.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Historique Médical</mat-label>
        <input matInput formControlName="medicalHistory" required />
        <mat-error *ngIf="reportForm.get('medicalHistory')?.hasError('required')">
          L'historique médical est obligatoire.
        </mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="reportForm.invalid" class="w-100">
      Ajouter
    </button>
  </form>
</div>
