<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <!-- Lien vers Liste des utilisateurs -->
        <a mat-list-item routerLink="/users" routerLinkActive="active-link">
          Users
        </a>
  
        <!-- Lien vers Liste des animaux -->
        <a mat-list-item routerLink="/animals" routerLinkActive="active-link">
          Pets
        </a>
  
        <!-- Lien vers Liste des rendez-vous -->
        <a mat-list-item routerLink="/appointments" routerLinkActive="active-link">
          Appointments
        </a>
  
        <a mat-list-item routerLink="/pricing" routerLinkActive="active-link">
          Pricing
        </a>

        <!-- Autres liens, si nécessaire -->
        <a mat-list-item routerLink="/about" routerLinkActive="active-link">
          About
        </a>
  
        <a mat-list-item routerLink="/contact" routerLinkActive="active-link">
          Contact
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <router-outlet></router-outlet> <!-- Affiche le contenu de la route active -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  