<h2 mat-dialog-title>Add Appointment</h2>
<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="form-container">
    <!-- Date Picker -->
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Date</mat-label>
      <mat-datepicker #picker></mat-datepicker>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="newAppointment.date"
        name="date"
        required
      />
    </mat-form-field>

    <!-- Time Picker -->
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Time</mat-label>
      <input
        matInput
        [(ngModel)]="newAppointment.date"
        name="time"
        [ngxTimepicker]="timepicker"
        required
      />
      <ngx-material-timepicker #timepicker></ngx-material-timepicker>
    </mat-form-field>
  </div>

  <!-- Action buttons -->
  <div class="dialog-actions">
    <button mat-raised-button color="primary" type="submit">Submit</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  </div>
</form>
