<div class="animal-form">
    <h2>Add Animal</h2>
    <form [formGroup]="animalForm" (ngSubmit)="createAnimal()">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" required />

      <label for="age">Age</label>
      <input type="number" id="age" formControlName="age" required />

      <label for="race">Race</label>
      <input type="text" id="race" formControlName="race" required />

      <label for="gender">Gender</label>
      <input type="text" id="gender" formControlName="gender" required />

      <label for="weight">Weight</label>
      <input type="number" id="weight" formControlName="weight" required />

      <label for="image">Image</label>
      <input type="text" id="image" formControlName="image" />

      <label for="owner">Owner</label>
      <input type="text" id="owner" formControlName="owner" required />

      <button type="submit" [disabled]="animalForm.invalid">Add Animal</button>
    </form>
</div>
